html * {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
}

body {
}

.navbar {
  background-color: teal;
}

#nav-title {
  margin: 10px;
  font-weight: bolder;
  color: white;
  display: inline-block;
}

.navbar-toggler {
  width: 47px;
  height: 34px;
  background-color: teal;
  position: fixed;
  top: 20px;
  right: 10px;
}

.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}
.navbar-brand:hover,
.nav-link:hover {
  color: greenyellow;
}

.card {
  margin: 50px 10px 50px 10px;
  background-color: #eeeeee;
}

.card-header {
  background-color: #ccc;
}

.line:hover {
  background-color: greenyellow;
}

li {
  color: white;
  font-size: 20px;
  padding-left: 30px;
  background-color: teal;
}

.nav-link {
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
}

h2,
h4 {
  color: teal;
  font-weight: bolder;
  padding: 15px 0px 15px 0px;
}

#pic {
  height: fit-content;
}

#headshot {
  height: 300px;
  width: 100%;
  display: block;
}

p {
  font-size: 18px;
  padding: 20px;
}

a {
  display: block;
}

#p-row {
  margin: 15px;
}

label {
  margin-bottom: 8px;
  margin-top: 12px;
  font-weight: bold;
}

.footer {
  color: white;
  background-color: teal;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  text-align: center;
  padding: 0px;
  margin-top: 15px;
}

#footertext {
  font-size: 15px;
  padding: 5px;
}

.p-link {
  color: black;
}

.p-link:hover {
  color: teal;
}

#p-content {
  padding-bottom: 40px;
}

#p-img {
  height: 200px;
  width: 300px;
  border: 1px solid #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: none;
  -moz-box-shadow: 5px 5px 5px #bbbbbb;
  -webkit-box-shadow: 5px 5px 5px #bbb;
}
