* {
  font-family: font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
}

body {
  background-color: #eeeeee;
}

#header {
  padding: 0px;
}

.navbar {
  background-color: teal;
}

.navbar-brand {
  font-size: 30px;
  font-weight: 500;
  color: white;
  background-color: teal;
  display: inline-block;
}

.navbar-toggler {
  width: 47px;
  height: 34px;
  background-color: teal;
  position: fixed;
  top: 20px;
  right: 10px;
}

.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}
.navbar-brand:hover,
.nav-link:hover {
  color: greenyellow;
}

.line:hover {
  background-color: greenyellow;
}

li {
  color: white;
  font-size: 20px;
  padding-left: 30px;
  background-color: teal;
}

.nav-link {
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
}

#content {
  padding: 40px 60px;
}

#headshot {
  float: left;
  padding: 10px;
  margin: 20px;
}

p {
  font-size: 18px;
  padding: 20px;
}

h2 {
  font-size: 30px;
  color: teal;
  padding-top: 30px;
  padding-left: 30px;
  margin-bottom: 0px;
  background-color: #eeeeee;
}

.footer {
  color: white;
  background-color: teal;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#footertext {
  font-size: 10px;
  padding: 5px;
}

#form {
  padding-bottom: 20px;
}

#p-img {
  width: 250px
  height 200px;
}

#p-link {
  color: black;
}