html * {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
}

body {
  height: 100%;
}

.navbar {
  background-color: teal;
  height: 60px;
}

#nav-title {
  margin: 10px;
  font-weight: bolder;
  color: white;
  display: inline-block;
}

.nav-link {
  color: white;
  font-size: 20px;
}

.nav-link:hover {
  color: greenyellow;
}

.container-fluid {
  padding: 10px;
  height: 100vh;
}

.card {
  margin: 20px 10px 30px 10px;
  background-color: #eeeeee;
  border: 1px solid #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: none;
  -moz-box-shadow: 5px 5px 5px #bbbbbb;
  -webkit-box-shadow: 5px 5px 5px #bbb;
}

#infoDiv {
  height: 225px;
  margin: 10px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: justify;
}

#headshotDiv {
  height: 225px;
  padding: 10px;
  margin: 10px;
}

#headshot {
  height: 225px;
  width: 175px;
  border: 1px solid #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: none;
  -moz-box-shadow: 5px 5px 5px #bbbbbb;
  -webkit-box-shadow: 5px 5px 5px #bbb;
}

.card-header {
  background-color: #ccc;
  height: 50px;
}

#cardTitle {
  font-size: 24px;
  color: teal;
  font-weight: bolder;
}

#contactFormDiv {
  background-color: #eee;
  overflow: auto;
  text-align: justify;
  height: 300px;
}

#contactForm {
  padding: 0px 10px 10px 10px;
}

#pic {
  height: fit-content;
}

p {
  font-size: 18px;
  padding: 5px;
}

a {
  display: block;
  font-size: 18px;
}

label {
  margin: 8px 0px 4px 0px;
  font-weight: bold;
}

.footer {
  color: white;
  background-color: teal;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  text-align: center;
  padding: 0px;
  margin-top: 25px;
}

#footertext {
  font-size: 15px;
  padding: 5px;
}

#portfolioCard {
  height: 600px;
}

#portfolioCardBody {
}

#portfolioScroll {
  padding: 4px;
  background-color: #eee;
}

li {
  display: inline-flex;
  zoom: 1;
  margin: 20px;
}
.p-link {
  color: black;
  margin: auto;
}

.p-link:hover {
  color: teal;
}

#p-content {
  padding-bottom: 40px;
}

#p-img {
  height: 200px;
  width: 300px;
  border: 1px solid #fff;
  margin: auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: none;
  -moz-box-shadow: 5px 5px 5px #bbbbbb;
  -webkit-box-shadow: 5px 5px 5px #bbb;
}
